<%= form_with(model: @contact, local: true) do |form| %>
  <%= @contact.errors.any? %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>Contactは1文字以上140文字以下で入力してください。"</h2>
    </div>
  <% end %>

  <div class="contact">
    <br><%= form.label :name %></br>
    <br><%= form.text_field :name %></br>
  </div>
  
  <div class="contact">
    <br><%= form.label :email %></br>
    <br><%= form.text_field :email %></br>
  </div>
  
  <div class="contact">
    <br><%= form.label :content %></br>
    <br><%= form.text_field :content %></br>
  </div>
  <br>
  <%= form.submit :"Create Contant"%>
<% end %>